body {
    background-color: #e4e4e4;
}

body, header, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body > header, body > footer {
    background-color:rgb(54, 54, 54);
    text-align: center;
    color: white;
    padding: 20px 0px;
}

body > header > h1 {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    margin: 0 5%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    width: 45%;
    background-color:rgb(54, 54, 54);
    text-align: center;
    margin: 10px 0 0;
}

nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 5px 0;
}

nav ul li:nth-child(odd){
    margin-right: 10%;
}

nav ul li a:hover{
    color: rgb(219, 69, 83);
}

main {
    margin: 20px 5% 0;
}

article {
    background-color: white;
    border: #cacaca 1px solid;
    margin-bottom: 20px;
}

article > header > img {
    max-height: 200px;
}

article > header {
    text-align: center;
}

article > header > h2, article > header > p {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 5%;
}

article > section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 5%;
}

article footer {
    text-align: right;
    padding: 20px 5%;
}

article footer a {
    background-color: #e4e4e4;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
}

aside {
    
}